.blue-header-container {
  font-family: Impact;
  font-size: 2rem;
  color: #233f61;
  text-align: left;
}

.light-blue-container {
  background-color: #cad5dd;
  font-family: Impact;
  color: white;
  text-align: center;
  line-height: 1.2; /*TODO: this isn't working so fix it*/
}

.dark-blue-container {
  background-color: #233f61;
  font-size: 25;
  color: white;
}

.yellow-container {
  background-color: #fee190;
  font-size: 30;
  color: #fee190;
  text-align: center;
}

.white-container-with-dark-text {
  background-color: white;
  font-family: 'Helvetica Neue';
  font-size: 25;
  color: #233f61;
  text-align: right;
}

.white-container-with-light-text {
  background-color: 'white';
  font-family: Impact;
  font-size: 4rem;
  color: #cad5dd;
  text-align: left;
  line-height: 5rem;
}
